@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    --Gradient-first: hsl(6, 100%, 80%);
   --Gradienr-second: hsl(335, 100%, 65%);

--Pale-Blue: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Dark-Blue: hsl(228, 56%, 26%);
--Very-Dark-Blue: hsl(229, 57%, 11%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background-image: url("./fylo-data-storage-component-master/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-color: var(--Very-Dark-Blue);
    background-position:  0px bottom;
    background-size: 100% 350px;
   justify-content: center;
   align-items: center;
   display: flex;
   min-height: 100vh;
}
.container{
    display: block;
}
.first-box{
    border-radius: 10px 60px 10px 10px;
    background-color: var(--Dark-Blue);
    padding: 20px 30px;
    width: 270px;
    display: inline-block;
}
.first-box > img{
    width: 100px;
   margin: 10px 0;
}
.list{
    display: flex;
    gap: 10px;
    padding: 10px 0;
    animation: popupFadeIn 5s ease-out forwards;
}
.list > div{
    padding: 5px 10px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 10px;
   
}
.list > div > .first-img{
    padding-top: 3px;
}
.list > div > .second-img {
   padding-top: 5px;
}
.list > div > .third-img{
    padding-top: 7px;
}

.second-box{
    padding: 35px 30px;
    border-radius: 10px;
    background-color: var(--Dark-Blue);
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    position: relative;
}
.second-box > p{
    color: var(--Grayish-Blue);
    font-weight: 400;
    font-size: 14px;
}
.second-box > p > span {
    color: var(--Pale-Blue);
    font-weight: 600;
}

.loading-range-container {
    width: 340px; /* Adjust the width as needed */
    height: 10px; /* Adjust the height as needed */
   border-radius: 10px;
    background-color: var(--Very-Dark-Blue);
    position: relative;
    margin: 10px 0px;
    border: 1px solid var(--Very-Dark-Blue);
  }

  .loading-range {
    border-radius: 10px;
    height: 100%;
    background-image: linear-gradient(to right, var(--Gradient-first), var(--Gradienr-second)); /* Adjust the background color as needed */
    width: 70%; /* Set the initial width to 70% */
    animation: loadingAnimation 2s ease-in-out forwards;
  }
  @keyframes loadingAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
  .button{
    position: absolute;
    padding: 4px;
    background-color: var(--Pale-Blue);
    border-radius: 50%;
    left: 228px;
    top: 0px;
    animation: popupSlideIn 2s ease-out forwards;
  }
  
@keyframes popupSlideIn {
  from {
      left: 0px;
  }
  to {
      left: 228px;
  }
}
  @keyframes popupFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  .between{
    display: flex;
    justify-content: space-between;
    color: var(--Pale-Blue);
    font-weight: 600;
  }
  .display{
    position: absolute;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px 10px 0 10px;
    bottom: 90%;
    right: -40px;
    transform: translateX(-50%);
    animation: popupFadeIn 5s ease-out forwards;
  }
  .display::before{
    content: "";
    position: absolute;
    top: 100%;
    right: -10px;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 0px;
    border-top: 20px solid transparent;
    border-top-color: white;
    z-index: 1;
  }
  .display > p{
    font-size: 30px;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
  }
  .display > p > span{
    text-transform: uppercase;
    font-size: 12px;
    color: var(--Grayish-Blue);
  }

  @media screen and (max-width: 700px){
    body{
        background-image: url("./fylo-data-storage-component-master/images/bg-mobile.png");
        background-size: cover;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .first-box{
        /* justify-content: center; */
        width: 450px;
        margin: 0 auto 20px auto;
    }
    .second-box{
        width: 450px;
        margin: 0 auto ;
    }
    .second-box > p{
    text-align: center;
    }
    .loading-range-container {
    width: 390px;
    }
    .button{
        left: 262px;
        animation: popupSlideIn 2s ease-out forwards;
      }
      @keyframes popupSlideIn {
        from {
            left: 0px;
        }
        to {
            left: 262px;
        }
      }
      .display{
        position: absolute;
        padding: 10px 20px;
        background-color: white;
        border-radius: 10px;
        bottom: -20px;
        right: 90px;
        /* left: 0; */
    
        transform: translateX(-50%);
      }
      .display::before{
        display: none;
      }
  }

  @media screen and (max-width: 500px){
    .first-box{
        /* justify-content: center; */
        width: 350px;
   
    }
    .second-box{
        width: 350px;
      
    }
    .loading-range-container {
    width: 290px;
    height: 20px;
    }
    .button{
        left: 183px;
        padding: 9px;
        animation: popupSlideIn 2s ease-out forwards;
      }
      @keyframes popupSlideIn {
        from {
            left: 0px;
        }
        to {
            left: 183px;
        }
      }
      .display{
        position: absolute;
        padding: 10px 20px;
        background-color: white;
        border-radius: 10px;
        bottom: -20px;
        right: 35px;
        /* left: 0; */
    
        transform: translateX(-50%);
      }
  }
